<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Petpals</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <script src="../js/authentication.js"></script>
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      body {
        background-color: #f8f9fa;
      }

      .login-container {
        margin-top: 100px;
      }

      .center-btn {
        display: flex;
        justify-content: center;
      }

      .btn-width {
        width: 200px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card login-container">
            <div class="card-header text-center">Sign in to your account</div>
            {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('login') }}" method="post">
                <div class="form-group">
                  <label>Username</label>
                  <input
                    type="email"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="Enter email address"
                  />
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                  />
                  <small class="form-text text-muted"
                    >Don't have an account?
                    <a href="{{ url_for('signup') }}">signup</a></small>
                    <small class="form-text text-muted">
                      Return to home page
                      <a href="{{ url_for('home') }}">Home</a></small>
                </div>
                <div class="center-btn">
                  <input
                    type="submit"
                    class="btn btn-primary btn-width"
                    value="Login"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
